<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <style>
      label{
        color: white;
      }
    </style>
</head>
<body>
<center><h1>UPDATE USER DATA </h1></center>

  <form method="post" class="bg-secondary p-5" >
    {% csrf_token %}
    <label  >NAME </label>
    <br>
    <input  type="text" name="name" value="{{ item.name }}">
    <br> 
    <label >Email</label> <br>
    <input type="email" name="email" value="{{ item.email }}">
    <br>
    <label >Location</label>
    <br>
    <input type="text" name="location" value="{{ item.location }}">
    <br>
    <br>
    <input type="submit" value="UPDATE" class="btn btn-success">
  </form>


</body>
</html>